!!!
%html
  %head
    %title R.I.P. O.D.B.
    <link rel="stylesheet" href="/style.css" type="text/css" media="all" />
  %body
    .main
      %p Days since Dirty last got his money:
      - @diff.to_s.each_char do |diff_char|
        %img{:src => "/#{diff_char}.png"}
      %p
        R.I.P.
        %a{:href => "http://en.wikipedia.org/wiki/Old_Dirty_Bastard"} O.D.B.
        2004-11-13